/*Onepage menu*/
#cd-vertical-nav{
	bottom: auto;
    position: fixed;
    right: 40px;
    top: 60%;
    -webkit-transform:translate(0,-50%);
	-moz-transform:translate(0,-50%);
	-ms-transform:translate(0,-50%);
	-o-transform:translate(0,-50%);
	transform:translate(0,-50%);
    z-index: 999;
}
#cd-vertical-nav ul{
	display: inline-block;
}
#cd-vertical-nav li{
	text-align: right;
	line-height: 33px;
}
#cd-vertical-nav li a{
	backface-visibility: hidden;
    display: inline-block;
}
#cd-vertical-nav li a:focus{
	outline: none;
}
#cd-vertical-nav .cd-dot{
	 background-color: #283a44;
    border-radius: 50%;
    height: 15px;
    position: relative;
    -moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	-webkit-transform:scale(0.6);
	-moz-transform:scale(0.6);
	-ms-transform:scale(0.6);
	-o-transform:scale(0.6);
	transform:scale(0.6);
    width: 15px;
    float: right;
    display: inline-block;
}
#cd-vertical-nav a:hover .cd-dot,
#cd-vertical-nav a:hover .cd-label{
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
	opacity: 1;
}
#cd-vertical-nav .cd-label:after{
	border-color: rgba(242, 242, 242, 0) rgba(242, 242, 242, 0) rgba(242, 242, 242, 0) #f2f2f2;
    border-style: solid;
    border-width: 5px;
    content: " ";
    height: 0;
    left: 100%;
    margin-top: -5px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 0;
}
#cd-vertical-nav .cd-label{
	background: #f2f2f2 none repeat scroll 0 0;
    color: #283a44;
    font-size: 14px;
    margin-right: 10px;
    opacity: 0;
    padding: 0.4em 0.5em;
    position: relative;
    top: -10px;
    -moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	-webkit-transform:scale(0.6);
	-moz-transform:scale(0.6);
	-ms-transform:scale(0.6);
	-o-transform:scale(0.6);
	transform:scale(0.6);
}
/*Widget*/
.widget{
	margin-bottom: 30px;
}
.widget label{
	width: 100%;
	margin-bottom: 10px;
}
.widget select{
	width: 100%;
	border-radius: 0;
	border: none;
	padding: 6px 8px;
	height: 50px;
	border: 1px solid #efefef
}
.widget caption{
	margin: 0;
}
.widget .children,
.widget .sub-menu{
	padding-left: 20px;
	margin-top: 8px;
	border-top: 1px solid #efefef;
}
.widget .children li:last-child,
.widget .sub-menu li:last-child{
	padding-bottom: 0px;
	border: none;
}
.widget.widget_rss ul li{
	color: #687177;
}
.widget.widget_rss ul li a{
	font-weight: bold;
	color: #000;
}
.widget.widget_rss .rss-date{
	position: relative;
	padding-left: 15px;
}
.widget.widget_rss .rss-date:before{
	content: "-";
	position: absolute;
	left: 3px;
	top: 0;
	color: #000;
	font-weight: bold;
}
.widget.widget_search input[type="text"]{
	float: left;
	width: 100%;
	padding: 6px 8px;
	border: 1px solid #cecece;
}
.widget ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.widget ul li{
	border-bottom: 1px solid #efefef;
	padding: 12px 0;
	text-transform: uppercase;
}
.widget ul li a{
	color: #687177;
}
.widget ul li a:hover{
	color: #283a44;
}
.widget input{
	background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 50px;
    line-height: 1.42857;
    margin-bottom: 15px;
    padding: 6px 12px;
    width: 100%;
}
.widget button[type="submit"]{
	display: none;
}
.admin-bar .is-sticky .topbar-nav{
	top: 32px !important;
}
.comment-respond > .comment-reply-title{
	margin: 0;
}
.comment-form .tilte-comment{
	margin-left: 15px;
	margin-right: 15px;
}
.comment-form .form-submit{
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
}
.blog-content-item{
	padding: 20px;
}
/*SAMPLE*/
.sticky{
	border-color: #EF6A8A;
	box-shadow: none;
	padding: 20px;
}
.sticky .blog-post-media{
	box-shadow: none;
}
.page-links{
	margin: 15px 0;
	float: left;
	width: 100%;
}
.page-links span{
	float: left;
}
.page-links .page-links-title{
	padding: 7px 5px 7px 0;
}
.page-links a span,
.page-links .page-links-title + span{
	 background-color: transparent;
    border: 2px solid #ef6a8a;
    float: left;
    font-size: 14px;
    font-weight: 700;
    margin-right: 5px;
    padding: 8px 12px;
	text-align: center;
	float: left;
	color: #ef6a8a;
}
.gallery .gallery-item{
	margin: 0;
}
.page-links a:hover span,
.page-links .page-links-title + span{
	color: #fff;
	background: #ef6a8a;
}
.blog-post-media input[type="password"]{
	border: medium none;
    box-shadow: none;
    padding: 6px 8px;
    border: 1px solid #efefef;
}
.blog-post-media input[type="submit"]{
	padding: 5px 8px;
    border: 2px solid #ef6a8a;
    background: transparent;
    color: #ef6a8a;
}
.blog-post-media input[type="submit"]:hover{
	background: #ef6a8a;
	color: #fff;
}
