address { font-style:italic; margin:0 0 24px; }
abbr[title] { border-bottom:1px dotted; }
b,strong { font-weight:bold; }
dfn { font-style:italic; }
mark { background:#ff0; color:#000; }
p { margin:0 0 24px; }
code,kbd,pre,samp { font-family:monospace,serif; font-size:14px; -webkit-hyphens:none; -moz-hyphens:none; -ms-hyphens:none; hyphens:none; }
pre { background:#f5f5f5; color:#666; font-family:monospace; font-size:14px; margin:20px 0; overflow:auto; padding:20px; white-space:pre; white-space:pre-wrap; word-wrap:break-word; }
blockquote,q { -webkit-hyphens:none; -moz-hyphens:none; -ms-hyphens:none; hyphens:none; quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:""; content:none; }
blockquote { font-size:18px; font-style:italic; font-weight:300; margin:24px 40px; }
blockquote blockquote { margin-right:0; }
blockquote cite,blockquote small { font-size:14px; font-weight:normal; text-transform:uppercase; }
blockquote em,blockquote i { font-style:normal; font-weight:300; }
blockquote strong,blockquote b { font-weight:400; }
small { font-size:smaller; }
sub,sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup { top:-0.5em; }
sub { bottom:-0.25em; }
dl { margin:0 20px; }
dt { font-weight:bold; }
dd { margin:0 0 20px; }
menu,ol,ul { margin:16px 0; padding:0 0 0 40px; }
ul { list-style-type:square; }
nav ul,nav ol { list-style:none; list-style-image:none; }
li > ul,li > ol { margin:0; }
img { -ms-interpolation-mode:bicubic; border:0; vertical-align:middle; }
svg:not(:root) { overflow:hidden; }
figure { margin:0; }
form { margin:0; }
fieldset { border:1px solid #c0c0c0; margin:0 2px; padding:0.35em 0.625em 0.75em; }
legend { border:0; padding:0; white-space:normal; }
textarea { overflow:auto; vertical-align:top; }
table { border-bottom:1px solid #ededed; border-collapse:collapse; border-spacing:0; font-size:14px; line-height:2; margin:0 0 20px; width:100%; }
caption,th,td { font-weight:normal; text-align:left; }
caption { font-size:16px; margin:20px 0; }
th { font-weight:bold; text-transform:uppercase; }
td { border-top:1px solid #ededed; padding:6px 10px 6px 0; }
del { color:#333; }
ins { background:#fff9c0; text-decoration:none; }
.entry-content img,.entry-summary img,.comment-content img,.widget img,.wp-caption { max-width:100%; }
.entry-content img,.entry-summary img,.comment-content img[height],img[class*="align"],img[class*="wp-image-"],img[class*="attachment-"] { height:auto; }
img.size-full,img.size-large,img.wp-post-image { height:auto; max-width:100%; }
embed,iframe,object,video { max-width:100%; }
.entry-content .twitter-tweet-rendered { max-width:100% !important; }
.alignleft { float:left; }
.alignright { float:right; }
.aligncenter { display:block; margin-left:auto; margin-right:auto; }
figure.wp-caption.alignleft,img.alignleft { margin:5px 20px 5px 0; }
.wp-caption.alignleft { margin:5px 10px 5px 0; }
figure.wp-caption.alignright,img.alignright { margin:5px 0 5px 20px; }
.wp-caption.alignright { margin:5px 0 5px 10px; }
img.aligncenter { margin:5px auto; }
img.alignnone { margin:5px 0; }
.wp-caption .wp-caption-text,.entry-caption,.gallery-caption { color:#220e10; font-size:18px; font-style:italic; font-weight:300; margin:0 0 24px; }
div.wp-caption.alignright img[class*="wp-image-"] { float:right; }
div.wp-caption.alignright .wp-caption-text { padding-left:10px; }
img.wp-smiley,.rsswidget img { border:0 none; border-radius:0; box-shadow:none; margin-bottom:0; margin-top:0; padding:0; }
.wp-caption.alignleft + ul,.wp-caption.alignleft + ol { list-style-position:inside; }
.jcarousel-skin-tango .jcarousel-direction-rtl { direction:rtl; }
.jcarousel-skin-tango .jcarousel-container-horizontal { width:245px; padding:20px 40px; }
.jcarousel-skin-tango .jcarousel-container-vertical { height:245px; }
.jcarousel-skin-tango .jcarousel-clip { overflow:hidden; }
.jcarousel-skin-tango .jcarousel-clip-horizontal { width:245px; height:75px; }
.jcarousel-skin-tango .jcarousel-clip-vertical { height:140px; }
.jcarousel-skin-tango .jcarousel-item-horizontal { margin-left:0; margin-right:10px; }
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal { margin-left:10px; margin-right:0; }
.jcarousel-skin-tango .jcarousel-item-vertical { width:100%; }
.jcarousel-skin-tango .jcarousel-item-placeholder { background:#fff; color:#000; }
.jcarousel-skin-tango .jcarousel-next-horizontal { position:absolute; top:43px; right:5px; width:32px; height:32px; cursor:pointer; }
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal { left:5px; right:auto; }
.jcarousel-skin-tango .jcarousel-next-horizontal:hover,.jcarousel-skin-tango .jcarousel-next-horizontal:focus { background-position:-32px 0; }
.jcarousel-skin-tango .jcarousel-next-horizontal:active { background-position:-64px 0; }
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active { cursor:default; background-position:-96px 0; }
.jcarousel-skin-tango .jcarousel-prev-horizontal { position:absolute; top:43px; left:5px; width:32px; height:32px; cursor:pointer; }
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal { left:auto; right:5px; }
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover,.jcarousel-skin-tango .jcarousel-prev-horizontal:focus { background-position:-32px 0; }
.jcarousel-skin-tango .jcarousel-prev-horizontal:active { background-position:-64px 0; }
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active { cursor:default; background-position:-96px 0; }
.jcarousel-skin-tango .jcarousel-next-vertical { position:absolute; top:160px; left:50%; width:25px; height:25px; cursor:pointer; background:#fff; z-index:555; margin-right:-30px; display:none !important; border-radius:100%; }
.jcarousel-skin-tango .jcarousel-next-vertical:hover,.jcarousel-skin-tango .jcarousel-next-vertical:focus { background:#F6C815; }
.jcarousel-skin-tango .jcarousel-next-vertical:active { background-position:0 -64px; }
.jcarousel-skin-tango .jcarousel-next-disabled-vertical,.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active { cursor:default; background-position:0 -96px; }
.jcarousel-skin-tango .jcarousel-prev-vertical { position:absolute; display:none !important; top:160px; left:50%; width:25px; height:25px; cursor:pointer; background:#fff; margin-left:-30px; border-radius:100%; }
.jcarousel-skin-tango .jcarousel-prev-vertical:hover,.jcarousel-skin-tango .jcarousel-prev-vertical:focus { background:#E21E25; }
.jcarousel-skin-tango .jcarousel-prev-vertical:active { background-position:0 -64px; }
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active { cursor:default; background-position:0 -96px; }