$grid : (
	small 						: 380px,
	small-x 					: 480px,
	small-padding 				: 10px,
	small-margin 				: 20px,

	medium 						: 768px,
	medium-x 					: 1024px,

	large 						: 978px,
	large-x   					: 1170px,
	large-padding 				: 20px,
	large-margin 				: 30px,
);
